<!DOCTYPE html>
<html lang="<%= language %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/png" href="/images/Icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" nonce="<%= nonce %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" nonce="<%= nonce %>">
        <!-- Local bootstrap.js-->
        <script src="/js/bootstrap.js" nonce="<%= nonce %>"></script>
        <!-- Global bootstrap js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
            nonce="<%= nonce %>"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            nonce="<%= nonce %>"></script>
            
    <script nonce="<%= nonce %>">
        window.translations = {
            en: <%- JSON.stringify(i18n.getCatalog('en')) %>,
            lv: <%- JSON.stringify(i18n.getCatalog('lv')) %>,
            de: <%- JSON.stringify(i18n.getCatalog('de')) %>,
            ru: <%- JSON.stringify(i18n.getCatalog('ru')) %>
        };
        window.currentLanguage = '<%= language %>';
    </script>
</head>

<body>
    
    <%- include('./partials/header') %> <!-- This will include your header -->
    <main>
        <%- body %> <!-- This will be replaced with the page content -->
    </main>

</body>

</html>
