<body>
    <div class="d-flex justify-content-center align-items-center ">
        <section class="container  text-white">

            <div class="row justify-content-center ">
                <div tabindex="0" class="col-md-10 ml-3  p-4 mt-3 mr-3 rounded text-light bg-light">
                    <h2 class="text-white">
                        <%= __('general_info') %>
                    </h2>

                    <p>
                        <%= __('car_repair_description') %>
                    </p>
                    <p>
                        <%= __('pricing_description') %>
                    </p>
                </div>
                <div class="w-120 my-3 "></div>
                <div class="col-md-10  ml-3 mt-3 mr-3 ">
                    <div class="row">
                        <div
                            class="col-12  p-4 d-flex flex-lg-row  justify-content-between align-items-start rounded bg-light text-light selectable">
                            <div>
                                <h2 class="text-white ">
                                    <%= __('visit_us') %>
                                </h2>
                                <p>
                                    <%= __('address_label') %>
                                </p>
                                <address>
                                    <%= __('address_1') %><br>
                                        <%= __('address_2') %><br>
                                            <%= __('address_3') %>
                                </address>
                            </div>

                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="py-2">
        <div tabindex=0 class="container text-white  rounded ">
            <div class="row justify-content-center text-light">
                <div class="col-md-10 col-lg-5 p-4 bg-light selectable">
                    <h2 class="text-white">
                        <%= __('contact_us') %>
                    </h2>
                    <p>
                        <%= __('contact_description') %>
                    </p>
                    <p>
                        <%= __('call_us') %>
                    </p>
                </div>
                <div class="col-md-9 col-lg-5 p-4 bg-light">
                    <form>
                        <div class="form-group">
                            <label for="name">
                                <%= __('name') %>
                            </label>
                            <input type="text" class="form-control" id="name"
                                placeholder="<%= __('name_placeholder') %>">
                        </div>
                        <div class="form-group">
                            <label for="email">
                                <%= __('email') %>
                            </label>
                            <input type="email" class="form-control" id="email"
                                placeholder="<%= __('email_placeholder') %>">
                        </div>
                        <div class="form-group">
                            <label for="message">
                                <%= __('message') %>
                            </label>
                            <textarea class="form-control" id="message" rows="2"
                                placeholder="<%= __('message_placeholder') %>"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <%= __('send_message') %>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="footer pt-2 selectable">
        <div class="container">
            <p>&copy; 2025 U&M Auto - Odre, LV-3285</p>
            <p class="mb-2 ">
                <%= __('contact_us') %>: velderis@gmail.com <%= __('call_us') %>
            </p>

            <div class="language-switcher-footer">
                <a href="/?lang=en" class="footer-link"><span class="flag-icon flag-icon-gb"></span> English</a> |
                <a href="/?lang=lv" class="footer-link"><span class="flag-icon flag-icon-lv"></span> Latviešu valoda</a>
                |
                <a href="/?lang=ru" class="footer-link"><span class="flag-icon flag-icon-ru"></span> Русский язык</a> |
                <a href="/?lang=de" class="footer-link"><span class="flag-icon flag-icon-de"></span> Deutsche
                    Sprache</a>
            </div>
        </div>
    </div>
    <script src="/js/AboutUs.js" nonce="<%= nonce %>"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
        nonce="<%= nonce %>"></script>