
<style nonce="<%= nonce %>">
    /* Custom styles for the table container */
    .customContainer {
        float: right;
        margin-right: 3%;
    }
    .overflow-X {
        overflow-x: auto;
    }
    .width50{
        width:50%;
    }
    .width80{
        width:80%;
    }
    .maxw20{
        max-width:20%;
    }
    .table-responsive {
        width: 100%;
    }
    .table {
        width: 100%;
    }
</style>
<body>
    <div id="successAlert" class="custom-alert nodisplay">
        <h2 id="successAlertMessage"></h2>
    </div>
    <div id="errorAlert" class="custom-alert nodisplay">
        <h2 class="text-danger" id="errorAlertMessage"></h2>
    </div>
    <div>
        <div id="admin-container" class="container my-4 customContainer bg-light rounded mx-80">
            <h2 class="text-center mb-4 text-white mt-3" id="TitleHeader"><%= __('Projects') %></h2>
            <div class="container-fluid">
                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-lg-2 col-md-4 col-sm-12 bg-light rounded p-4 d-flex flex-column justify-content-start"
                        id="sidebar">
                        <h3 class="text-center mb-4 text-white "><%= __('Admin panel') %></h3>
                        
                        <h5 class="text-white text-center"><%= __('Users') %></h5>
                        <div class="d-grid gap-2 mb-4">
                          <select id="userFilter" class="btn btn-outline-secondary text-white text-start">
                            <option value="all" selected><%= __('All Users') %></option>
                            <option value="active"><%= __('Active Users') %></option>
                            <option value="withProjects"><%= __('Users With Projects') %></option>
                            <option value="admins"><%= __('Admins') %></option>
                            <option value="workers"><%= __('Workers') %></option>
                          </select>
                          
                          <input id="userSearchInput" class="form-control bg-dark text-white border-white" type="text" placeholder="<%= __('Search by Email or ID') %>">
                          <hr class="text-white">
                          <button id="removeWorkerButton" class="btn btn-outline-danger text-white"><%= __('Remove Worker') %></button>
                          <button id="addWorkerButton" class="btn btn-outline-success text-white"><%= __('Add Worker') %></button>
                        </div>                      
                        <!-- Divider -->
                        <hr class="text-white">

                        <h5 class="text-white text-center"><%= __('Projects') %></h5>
                        <div class="d-grid gap-2 mb-4">
                          <select id="projectFilter" class="btn btn-outline-secondary text-white text-start">
                            <option value="all"><%= __('All Projects') %></option>
                            <option value="active"><%= __('Active Projects') %></option>
                            <option value="completed"><%= __('Completed Projects') %></option>
                            <option value="delayed"><%= __('Delayed Projects') %></option>
                            <option value="pending"><%= __('Pending Projects') %></option>
                            <option value="cancelled"><%= __('Cancelled Projects') %></option>
                          </select>
                        
                          <input id="projectSearchInput" class="form-control bg-dark text-white border-white" type="text" placeholder="<%= __('Search by ID, Username, or Info') %>">
                        
                          <hr class="text-white">
                        
                          <label for="projectDate" class="form-label text-white mb-0"><%= __('Projects by Date') %></label>
                          <input id="projectDate" class="form-control bg-dark text-white border-white mb-1" type="date">
                          <select id="dateFilter" class="btn btn-outline-secondary text-white text-start mb-1">
                            <option value="started"><%= __('Started on this day') %></option>
                            <option value="finished"><%= __('Finished on this day') %></option>
                          </select>
                          <button id="searchByDate" class="btn btn-outline-secondary text-white"><%= __('Search by Date') %></button>
                        </div>
                    </div>
                        <div id="ProjectDataContainer" class="table-responsive text-white nodisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="align-middle" scope="col" data-column="idProject"><%= __('Project ID') %></th>
                                        <th class="align-middle" scope="col" data-column="idUser"><%= __('Username') %></th>
                                        <th class="align-middle" scope="col" data-column="StartDate"><%= __('Start Date') %></th>
                                        <th class="align-middle" scope="col" data-column="EndDateProjection"><%= __('Projected End Date') %></th>
                                        <th class="align-middle" scope="col" data-column="ProjectInfo"><%= __('Project Info') %></th>
                                        <th class="align-middle" scope="col" data-column="Status"><%= __('Overall status') %></th>
                                        <th class="align-middle" scope="col" data-column="Delayed"><%= __('Delay Status') %></th>
                                    </tr>
                                </thead>
                                <tbody id="project-table-body">
                                    <!-- Appointment data will be injected here -->
                                </tbody>
                            </table>
                        </div>

                        <div id="userDataContainer" class="table-responsive text-white nodisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="align-middle" scope="col"><%= __('User ID') %></th>
                                        <th class="align-middle" scope="col"><%= __('Name') %></th>
                                        <th class="align-middle" scope="col"><%= __('Username') %></th>
                                        <th class="align-middle" scope="col"><%= __('Email') %></th>
                                        <th class="align-middle" scope="col"><%= __('Check Projects') %></th>
                                    </tr>
                                </thead>
                                <tbody id="user-table-body">
                                    <!-- Appointment data will be injected here -->
                                </tbody>
                            </table>
                            <div id="userPaginationControls" class="mt-3"></div>

                        </div>

                        <div id="adminDataContainer" class="table-responsive text-white nodisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="align-middle" scope="col"><%= __('Admin ID') %></th>
                                        <th class="align-middle" scope="col"><%= __('Name') %></th>
                                        <th class="align-middle" scope="col"><%= __('Username') %></th>
                                        <th class="align-middle" scope="col"><%= __('Email') %></th>
                                        <th class="align-middle" scope="col"><%= __('Tenure') %></th>
                                        <th class="align-middle" scope="col"><%= __('AdminTenure') %></th>
                                        <th class="align-middle" scope="col"><%= __('Worker type') %></th>
                                        <th class="align-middle" scope="col"><%= __('Manage administrator status') %></th>
                                    </tr>
                                </thead>
                                <tbody id="admin-table-body">
                                    <!-- Appointment data will be injected here -->
                                </tbody>
                            </table>
                        </div>

                        <div id="workerDataContainer" class="table-responsive text-white nodisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="align-middle" scope="col"><%= __('Worker ID') %></th>
                                        <th class="align-middle" scope="col"><%= __('Name') %></th>
                                        <th class="align-middle" scope="col"><%= __('Username') %></th>
                                        <th class="align-middle" scope="col"><%= __('Email') %></th>
                                        <th class="align-middle" scope="col"><%= __('Tenure') %></th>
                                        <th class="align-middle" scope="col"><%= __('Worker type') %></th>
                                        <th class="align-middle" scope="col"><%= __('Manage administrator status') %></th>
                                    </tr>
                                </thead>
                                <tbody id="worker-table-body">
                                    <!-- Appointment data will be injected here -->
                                </tbody>
                            </table>
                        </div>

                        <div id="inputNewEndDate" class="table-responsive bg-light overflow-X nodisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="2" class="text-center text-white">
                                            <%= __('Choose the new end date for project: ID_') %><span id="project_id"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align-middle text-white width50">
                                            <p><strong><%= __('!WARNING!') %></strong></p>
                                            <p><%= __('If the project isn\'t yet tagged as delayed, it will be after any changes to the enddatetime.') %></p>
                                        </td>
                                        <td class="align-middle width50">
                                            <div class="d-flex flex-column align-items-center">
                                                <input class="width80" type="datetime-local" id="dateinput"
                                                    class="form-control text-center mb-2">
                                                <button id="changeEndTimeButton" class="btn btn-outline-primary mt-2"><%= __('Change') %></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="InvalidDateTime" class="nodisplay">
                                        <td colspan="2" class="text-center">
                                            <span class="text-danger"><b><%= __('Invalid end time') %></b></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded text-white m-auto nodisplay  bg-light" id="addWorkerForm">
                    <form class="mt-3">
                        <label id="email-red" for="email"><%= __('Email') %>:</label>
                        <span class="ml-1 nodisplay text-danger" id="NoAccountAdd"><b>- <%= __('Account doesn\'t exist') %></b></span>
                        <span class="ml-1 nodisplay text-danger" id="WorkerExsists"><b>- <%= __('User is already a worker') %></b></span>
                        <input class="form-control" type="email" id="email" name="email" required><br>
        
                        <label for="workerType"><%= __('Worker Type') %>:</label>
                        <input class="form-control" type="text" id="workerType" name="workerType" maxlength="45" required><br>
        
                        <input class="mt-3" type="checkbox" id="administrator" name="administrator">
                        <label for="administrator">
                            <%= __('Administrator') %>
                        </label><br>
        
                        <button id="workerAddSubmitButton" class="btn btn-secondary btn-block mt-2 mb-4" type="submit">
                            <%= __('Register worker') %>
                        </button>
                    </form>
                </div>
                <div class="col-md-3 rounded text-white m-auto nodisplay  bg-light" id="removeWorkerForm">
                    <form class="mt-3">
                        <label id="removalEmailDisplay" for="removalEmail"><%= __('Email') %>:</label>
                        <span class="ml-1 nodisplay text-danger" id="NoAccountRemove"><b>- <%= __('Account doesn\'t exist') %></b></span>
                        <input class="form-control" type="email" id="removalEmail" name="email" required><br>
        
                        <label for="Reason"><%= __('Reason for removal') %>:</label>
                        <input class="form-control" type="text" id="Reason" name="reason" maxlength="115"><br>
        
                        <button id="workerRemoveSubmitButton" class="btn btn-secondary btn-block mt-2 mb-4" type="submit">
                            <%= __('Remove worker') %>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
        <script nonce="<%= nonce %>">const csrfToken = "<%= csrfToken %>";</script>
        <script src="/js/Admin.js" nonce="<%= nonce %>"></script>
</body>