<body>
    <div class="container bg-light mt-3 ">
        <form id="appointmentForm">
            <h2 class="text-center text-white p-3">
                <%= __('Appointment Booking') %>
            </h2>
            <div class="row text-white">

                <!-- Left Section -->
                <div class="col-md-6 px-4 rounded">
                    <h4 class="text-center text-white ">
                        <%= __('Appointment Booking Type and Date') %>
                    </h4>
                    <div class="form-group px-5">
                        <label for="repairType"></label>
                        <select class="form-control form-control-select" id="repairType" name="repairType" required>
                            <option disabled selected value="0">
                                <%= __('Choose an appointment type') %>
                            </option>
                            <option tabindex="1" value="1">
                                <%= __('Oil change') %>
                            </option>
                            <option tabindex="2" value="120">
                                <%= __('Paint job') %>
                            </option>
                            <option tabindex="3" value="4">
                                <%= __('Overall checkup or tuning') %>
                            </option>
                            <option tabindex="4" value="4">
                                <%= __('Custom parts') %>
                            </option>
                            <option tabindex="5" value="1">
                                <%= __('Project discussion') %>
                            </option>
                        </select>
                    </div>
                    <label for="repairType" class="text-white"></label>
                    <div class="container text-dark" id="calendar-container">
                        <div class="row justify-content-center">
                            <div class="">
                                <div class="card">
                                    <div class="card-header row">
                                        <button id="prevMonth" class="btn btn-outline-secondary m-auto">&lt;</button>
                                        <h3 tabindex="0" id="monthYear" class="m-auto"></h3>
                                        <button id="nextMonth" class="btn btn-outline-secondary m-auto">&gt;</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="daysOfWeek">
                                            <!-- Days of the week will be appended here -->
                                        </div>
                                        <div class="row" id="calendar">
                                            <!-- Calendar will be appended here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="selectable" id="time-container">
                        <!-- Choices for time will dynamically appear here-->
                    </div>
                </div>
                <!-- Right Section -->
                <div class="col-md-6 rounded">
                    <h4 class="text-center text-white">
                        <%= __('appointment_booking_car_details') %>
                    </h4>

                    <!-- Car Brand Selection -->
                    <div class="form-group p-2 my-0">
                        <select class="form-control form-control-select" id="carBrand" name="carBrand" required>
                            <option value="" disabled selected>
                                <%= __('choose_brand') %>
                            </option>
                            <!-- Brands will be dynamically populated here -->
                        </select>
                    </div>
                    <!-- Car Model Selection -->
                    <div class="form-group p-2 my-0">
                        <label class="form-label text-danger hidden-visibility" id="carBrandWarning">
                            <%= __('select_brand_first') %>
                        </label>
                        <select class="form-control form-control-select" id="carModel" name="carModel" disabled
                            required>
                            <option value="" disabled selected>
                                <%= __('choose_model') %>
                            </option>
                            <!-- Models will be dynamically populated here -->
                        </select>
                    </div>

                    <!-- Car Year Selection -->
                    <div class="form-group p-2 my-0">
                        <label class="form-label text-danger hidden-visibility" id="carModelWarning">
                            <%= __('select_model_first') %>
                        </label>
                        <select class="form-control form-control-select" id="carYear" name="carYear" disabled required>
                            <option value="" disabled selected>
                                <%= __('choose_year') %>
                            </option>
                            <!-- Years will be dynamically populated here -->
                        </select>
                    </div>

                    <!-- Additional Information -->
                    <div class="form-group p-2">
                        <label class="form-label" for="additionalInfo">
                            <%= __('additional_info') %>
                        </label>
                        <textarea class="form-control" id="additionalInfo" name="additionalInfo" rows="6"
                            placeholder="<%= __('additional_info_placeholder') %>" maxlength="300"></textarea>
                    </div>
                </div>

            </div>
            <div class="text-center p-2">
                <button type="submit" class="btn btn-lg btn-outline-secondary">
                    <%= __('Make Appointment') %>
                </button>
            </div>
        </form>
    </div>
    <script nonce="<%= nonce %>">const csrfToken = "<%= csrfToken %>";</script>
    <script src="/js/Appointment.js" nonce="<%= nonce %>"></script>
</body>