<body>
    <div id="customChangeAlert" class="custom-alert nodisplay">
        <h2><%= __('Password successfully changed') %></h2>
    </div>

    <div class="container text-white mt-5 mx-80">
        <div class="row justify-content-center">
            <div class="col-md-4 bg-light rounded-lg">
                <form class="pl-4 pr-4 pt-4" id="changePasswordForm">
                    <h1 class="text-center"><%= __('Change Password') %></h1>
                    <div class="form-group">
                        <div id="password-red" class="row ml-0 mb-2" for="newPassword">
                            <%= __('New Password') %>
                            <span class="ml-1 nodisplay text-danger" id="InvalidPassword"><b>- <%= __('Password must be at least 8 characters') %></b></span>
                            <span class="ml-1 nodisplay text-danger" id="EmptyPassword"><b>- <%= __('Enter a new password') %></b></span>
                        </div>
                        <input type="password" class="form-control" id="newPassword" placeholder="<%= __('Enter new password') %>" maxlength="45">
                    </div>
                    <div class="form-group">
                        <div id="confirm-password-red" class="row ml-0 mb-2" for="confirmPassword">
                            <%= __('Confirm Password') %>
                            <span class="ml-1 nodisplay text-danger" id="PasswordMismatch"><b>- <%= __('Passwords do not match') %></b></span>
                        </div>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="<%= __('Confirm new password') %>" maxlength="45">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-block mt-1"><%= __('Change Password') %></button>
                    <br>
                </form>
                <a class="text-center btn text-white btn-block mb-3 mt-0" href="/Login"><b>Back to Login<b></a>
            </div>
        </div>
    </div>
    <script nonce="<%= nonce %>">const csrfToken = "<%= csrfToken %>";</script>
    <script src="/js/ChangePassword.js" nonce="<%= nonce %>"></script>
</body>
