<body>
    <div id="unauthorizedAccess" class="custom-alert text-danger nodisplay">
        <h4>
            <%= __('unauthorized_access') %>
        </h4>
    </div>
    <div id="session-message" class="custom-alert nodisplay">
        <h4>
            <%= __('session_message') %>
        </h4>
    </div>

    <div tabindex="0" id="Services" class=" mt-2 text-light">
        <div class="rounded">
            <div id="servicesCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators ">
                    <button type="button " data-bs-target="#servicesCarousel" data-bs-slide-to="0" class="active btn "
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="1" aria-label="Slide 2 "
                        class="btn "></button>
                    <button type="button " data-bs-target="#servicesCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class="btn"></button>
                    <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="3" aria-label="Slide 4"
                        class="btn"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <div id="carousel" class=" row flex-nowrap  p-1 mr-1 ">
                            <div class="service-item col-md-4 p-2 ml-2 m-1">
                                <div class="rounded text-center ">
                                    <a class="text-light  " href="/Services?scrollTo=Overall_Checkup">
                                        <img class="img rounded " src="/images/Overall_Checkup.png"
                                            alt="Overall checkup image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('overall_checkup_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2  m-1">
                                <div class="rounded text-center">
                                    <a class="text-light " href="/Services?scrollTo=Car_Painting">
                                        <img class="img rounded " src="/images/Car_Painting.png"
                                            alt="Car painting image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('car_painting_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1">
                                <div class="rounded text-center">
                                    <a class="text-light " href="/Services?scrollTo=Rust_Removal">
                                        <img class="img rounded " src="/images/Rust_Removal.jpg"
                                            alt="Rust Removal image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('rust_removal_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1">
                                <div class="rounded text-center ">
                                    <a class="text-light  " href="/Services?scrollTo=Tuning">
                                        <img class="img rounded " src="/images/Tuning.png" alt="Tuning image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('tuning_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1">
                                <div class="rounded text-center">
                                    <a class="text-light " href="/Services?scrollTo=Custom_Part_Insertion">
                                        <img class="img rounded" src="/images/Custom_Part_Insertion.png"
                                            alt="Custom part insertion image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('custom_part_insertion_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1">
                                <div class="rounded text-center " id="PriceEstimatorGuest">
                                    <a class="text-light ">
                                        <img class="img rounded " src="/images/Price_Calculation_Guest.jpg"
                                            alt="Log in to access this function image">
                                    </a>
                                </div>
                                <div class="rounded text-center " id="PriceEstimator">
                                    <a class="text-light" href="/Estimator">
                                        <img class="img rounded" src="/images/Price_Calculation.jpg"
                                            alt="Automatic price estimator image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('price_estimator_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel Controls -->
                    <a class="carousel-control-prev" href="#servicesCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#servicesCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="avdantages-container" class="rounded text-white">
            <h3 class="text-center">
                <%= __('advantages_title') %>
            </h3>
            <div class="row p-3">
                <div class="col-md-6 text-left">
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <i class="fas fa-calendar-check fa-2x text-primary"></i>
                            <span class="ml-2">
                                <b>
                                    <%= __('easy_appointments_title') %>:
                                </b>
                                <%= __('easy_appointments_description') %>
                                    <span id="LoginP">
                                        <a href="/Login">
                                            <%= __('login_prompt') %>
                                        </a>
                                        <%= __('booking_prompt') %>
                                    </span>
                            </span>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-car fa-2x text-primary"></i>
                            <span class="ml-2">
                                <b>
                                    <%= __('multiple_repairs_title') %>:
                                </b>
                                <%= __('multiple_repairs_description') %>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-left">
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <i class="fas fa-shield-alt fa-2x text-primary"></i>
                            <span class="ml-2">
                                <b>
                                    <%= __('reliable_repairs_title') %>:
                                </b>
                                <%= __('reliable_repairs_description') %>
                            </span>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-dollar-sign fa-2x text-primary"></i>
                            <span class="ml-2">
                                <b>
                                    <%= __('fair_prices_title') %>:
                                </b>
                                <%= __('fair_prices_description') %>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="news-section mt-5">
            <h2 class="news-section-title">
                <%= __('news_title') %>
            </h2>

            <div class="news-item">
                <div class="news-title">🚗 <%= __('news_oil_discount_title') %>
                </div>
                <hr class="bg-dark">
                <div class="news-details">
                    <%= __('news_oil_discount_details') %>
                </div>
            </div>

            <div class="news-item"><br>
                <div class="news-title">📅 <%= __('news_online_booking_title') %>
                </div>
                <hr class="bg-dark">
                <div class="news-details">
                    <%= __('news_online_booking_details') %>
                </div>
            </div>

            <div class="news-item"><br>
                <div class="news-title">🔧 <%= __('news_new_location_title') %>
                </div>
                <hr class="bg-dark">
                <div class="news-details">
                    <%= __('news_new_location_details') %>
                </div>
            </div>
        </section>

        <section class="how-we-work-section mt-5">
            <h2 class="work-section-title">
                <%= __('how_we_work_title') %>
            </h2>

            <div class="work-item">
                <div class="work-title text-white">🌐 <%= __('work_online_appointments_title') %>
                </div>
                <hr class="bg-dark">
                <div class="work-details">
                    <%= __('work_online_appointments_details') %>
                </div>
            </div>

            <div class="work-item"><br>
                <div class="work-title text-white">📞 <%= __('work_call_to_schedule_title') %>
                </div>
                <hr class="bg-dark">
                <div class="work-details">
                    <%= __('work_call_to_schedule_details') %>
                </div>
            </div>

            <div class="work-item"><br>
                <div class="work-title text-white">📅 <%= __('work_notifications_title') %>
                </div>
                <hr class="bg-dark">
                <div class="work-details">
                    <%= __('work_notifications_details') %>
                </div>
            </div>

            <div class="work-item"><br>
                <div class="work-title text-white">⏱ <%= __('work_arrival_options_title') %>
                </div>
                <hr class="bg-dark">
                <div class="work-details">
                    <%= __('work_arrival_options_details') %>
                </div>
            </div>
        </section>



        <section class="work-hours-section mt-5">
            <h2 class="work-section-title ">
                <%= __('work_hours_title') %>
            </h2>
            <div class="work-item text-light">
                <div class="work-title text-white">
                    <%= __('work_hours_description') %>
                </div>
                <hr class="bg-dark">
                <div tabindex=0 class="work-details">
                    <div class="row text-white">
                        <div class="col-md-6 text-left">
                            <ul class="list-unstyled ">
                                <li><strong>
                                        <%= __('monday') %>
                                    </strong></li>
                                <li><strong>
                                        <%= __('tuesday') %>
                                    </strong></li>
                                <li><strong>
                                        <%= __('wednesday') %>
                                    </strong></li>
                                <li><strong>
                                        <%= __('thursday') %>
                                    </strong></li>
                            </ul>

                        </div>
                        <div class="col-md-6 text-left mb-4">
                            <ul class="list-unstyled">
                                <li><strong>
                                        <%= __('friday') %>
                                    </strong></li>
                                <li><strong class="text-light"><b>
                                            <%= __('saturday') %>
                                        </b></strong></li>
                                <li><strong class="text-light"><b>
                                            <%= __('sunday') %>
                                        </b></strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
    <h1 class="mt-5 text-center text-white">
        <%= __('faq_title') %>
    </h1>
    <div class="faq-container mt-3 col-lg-5">
        <div class="faq-item">
            <p class="faq-question">
                <%= __('faq_system_question') %><span class="arrow">&#9660;</span>
            </p>
            <div class="divider nodisplay"></div>
            <p class="faq-answer">
                <%= __('faq_system_answer') %>
            </p>
        </div>
        <div class="faq-item">
            <p class="faq-question">
                <%= __('faq_features_users_question') %><span class="arrow">&#9660;</span>
            </p>
            <div class="divider nodisplay"></div>
            <p class="faq-answer">
                <%= __('faq_features_users_answer') %>
            </p>
        </div>
        <div class="faq-item">
            <p class="faq-question">
                <%= __('faq_schedule_repair_question') %><span class="arrow">&#9660;</span>
            </p>
            <div class="divider nodisplay"></div>
            <p class="faq-answer">
                <%= __('faq_schedule_repair_answer') %>
            </p>
        </div>
        <div class="faq-item">
            <p class="faq-question">
                <%= __('faq_features_employees_question') %><span class="arrow">&#9660;</span>
            </p>
            <div class="divider nodisplay"></div>
            <p class="faq-answer">
                <%= __('faq_features_employees_answer') %>
            </p>
        </div>
        <div class="faq-item">
            <p class="faq-question">
                <%= __('faq_admin_tools_question') %><span class="arrow">&#9660;</span>
            </p>
            <div class="divider nodisplay"></div>
            <p class="faq-answer">
                <%= __('faq_admin_tools_answer') %>
            </p>
        </div>
        <div class="faq-item">
            <p class="faq-question">
                <%= __('faq_time_saving_question') %><span class="arrow">&#9660;</span>
            </p>
            <div class="divider nodisplay"></div>
            <p class="faq-answer">
                <%= __('faq_time_saving_answer') %>
            </p>
        </div>
        <div class="faq-item">
            <p class="faq-question">
                <%= __('faq_notifications_question') %><span class="arrow">&#9660;</span>
            </p>
            <div class="divider nodisplay"></div>
            <p class="faq-answer">
                <%= __('faq_notifications_answer') %>
            </p>
        </div>
    </div>

    <div class="footer mt-5">
        <div class="container">
            <p>&copy; 2023 Car Repair Shop - Odre, LV-3285</p>
            <p class="mb-2">
                <%= __('contact_us') %>: velderis@gmail.com or <%= __('call_us') %>
            </p>

            <!-- Language Switcher Links in Footer -->
            <div class="language-switcher-footer">
                <a href="/?lang=en" class="footer-link"><span class="flag-icon flag-icon-gb"></span> English</a> |
                <a href="/?lang=lv" class="footer-link"><span class="flag-icon flag-icon-lv"></span> Latviešu valoda</a>
                |
                <a href="/?lang=ru" class="footer-link"><span class="flag-icon flag-icon-ru"></span> Русский язык</a> |
                <a href="/?lang=de" class="footer-link"><span class="flag-icon flag-icon-de"></span> Deutsche
                    Sprache</a>
            </div>
        </div>
    </div>

    <script src="/js/home.js" nonce="<%= nonce %>"></script>
</body>