
<body>
    <div class="container mx-80 mt-5">
        <div class="row justify-content-center  text-white">
            <div class="col-md-4 bg-light rounded">
                <form class="p-4" id="signupForm">
                    <h1 class="text-center"><%= __('SignUp') %></h1>
                    <div class="form-group">
                        <label class="row ml-0 mb-2 " id='name-red' for="name"><%= __('Name') %> <span class="ml-1 nodisplay"
                                id="EmptyName" ><b>- <%= __('EnterName') %></b></label>
                        <input type="name" class="form-control" placeholder="<%= __('EnterName') %>" id="name" name="name"
                            maxlength="25">
                    </div>
                    <div class="form-group">
                        <div id="email-red" class="row ml-0 mb-2 " for="email"><%= __('Email') %> <span class="ml-1 nodisplay"
                                id="BadEmail" ><b>- <%= __('EnterValidEmail') %></b></span> <span
                                class="ml-1 nodisplay text-danger" id="TakenEmail"><b>- <%= __('EmailTaken') %></b></span><span class="ml-1 nodisplay text-danger" id="EmptyEmail"
                               ><b>- <%= __('EnterEmail') %></b></div>
                        <input type="text" class="form-control" placeholder="<%= __('EnterEmail') %>" id="email"
                            name="email" maxlength="45">
                    </div>
                    <div class="form-group">
                        <div id="username-red" class="row ml-0 mb-2" for="username"><%= __('Username') %> <span
                                class="ml-1 nodisplay text-danger" id="TakenUsername" ><b>- <%= __('UsernameTaken') %></b></span><span class="ml-1 nodisplay text-danger" id="EmptyUsername"
                                ><b>- <%= __('EnterUsername') %></b></span></div>
                        <input type="text" class="form-control" placeholder="<%= __('EnterUsername') %>" id="username"
                            name="username" maxlength="35">
                    </div>
                    <div class="form-group">
                        <div id="password-red" class="row ml-0 mb-2" for="password"><%= __('Password') %> <span
                                class="ml-1 nodisplay text-danger" id="BadPassword" ><b>- <%= __('SafePassword') %></b></span></div>
                        <input type="password" class="form-control" placeholder="<%= __('Enter a password') %>"
                            id="password" name="password" maxlength="45">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="acceptPolicy" required>
                        <label class="form-check-label" for="acceptPolicy"> <%= __('AcceptTerms') %> <a href="#termsConditionsModal"
                                data-bs-toggle="modal" id="termsConditionsLink"><%= __('TermsLink') %></a></label>
                    </div>
                    <div class="d-flex justify-content-center align-items-center m-3">
                        <div id="recaptchaContainer" class="nodisplay"> <!-- Initially hidden -->
                            <div class="g-recaptcha" data-sitekey="<%= process.env.RECAPTCHA_SITE_KEY %>"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-block mb-3"><%= __('CreateAccount') %></button>
                </form>
            </div>
        </div>
    </div>
    <!-- Terms and Conditions Modal -->
    <div class="modal fade" id="termsConditionsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        ari-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modalLabel"><strong><%= __('TermsConditions') %></strong></h2>
                </div>
                <div class="modal-body">
                    <!-- Terms and conditions text here -->
                    <p><%= __('terms.welcome') %></p>
                
                    <p><%= __('terms.rules') %></p>
                
                    <p><%= __('terms.acceptance') %></p>
                
                    <p><%= __('terms.terminology') %></p>
                
                    <h3><strong><%= __('terms.cookies.title') %></strong></h3>
                
                    <p><%= __('terms.cookies.usage') %></p>
                
                    <p><%= __('terms.cookies.details') %></p>
                
                    <h3><strong><%= __('terms.license.title') %></strong></h3>
                
                    <p><%= __('terms.license.description') %></p>
                    <ul>
                        <li><%= __('terms.license.republish') %></li>
                        <li><%= __('terms.license.sell') %></li>
                        <li><%= __('terms.license.copy') %></li>
                        <li><%= __('terms.license.redistribute') %></li>
                    </ul>
                
                    <p><%= __('terms.license.agreement') %></p>
                
                    <p><%= __('terms.comments.intro') %></p>
                
                    <p><%= __('terms.comments.rights') %></p>
                
                    <p><%= __('terms.comments.warrant') %></p>
                
                    <ul>
                        <li><%= __('terms.comments.post') %></li>
                        <li><%= __('terms.comments.ip_rights') %></li>
                        <li><%= __('terms.comments.defamatory') %></li>
                        <li><%= __('terms.comments.commercial') %></li>
                    </ul>
                
                    <p><%= __('terms.comments.license') %></p>
                
                    <h3><strong><%= __('terms.hyperlinking.title') %></strong></h3>
                
                    <p><%= __('terms.hyperlinking.allowed_intro') %></p>
                
                    <ul>
                        <li><%= __('terms.hyperlinking.gov_agencies') %></li>
                        <li><%= __('terms.hyperlinking.search_engines') %></li>
                        <li><%= __('terms.hyperlinking.news_orgs') %></li>
                        <li><%= __('terms.hyperlinking.directories') %></li>
                        <li><%= __('terms.hyperlinking.businesses') %></li>
                    </ul>
                
                    <p><%= __('terms.hyperlinking.conditions') %></p>
                
                    <h3><strong><%= __('terms.iframes.title') %></strong></h3>
                
                    <p><%= __('terms.iframes.restrictions') %></p>
                
                    <h3><strong><%= __('terms.content_liability.title') %></strong></h3>
                
                    <p><%= __('terms.content_liability.description') %></p>
                
                    <h3><strong><%= __('terms.rights.title') %></strong></h3>
                
                    <p><%= __('terms.rights.removal') %></p>
                
                    <p><%= __('terms.rights.policy_change') %></p>
                
                    <h3><strong><%= __('terms.removal_links.title') %></strong></h3>
                
                    <p><%= __('terms.removal_links.description') %></p>
                
                    <p><%= __('terms.removal_links.response') %></p>
                
                    <h3><strong><%= __('terms.disclaimer.title') %></strong></h3>
                
                    <p><%= __('terms.disclaimer.intro') %></p>
                
                    <ul>
                        <li><%= __('terms.disclaimer.death_injury') %></li>
                        <li><%= __('terms.disclaimer.fraud') %></li>
                        <li><%= __('terms.disclaimer.liabilities') %></li>
                        <li><%= __('terms.disclaimer.exclusions') %></li>
                    </ul>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= __('Close') %></button>
                </div>
            </div>
        </div>
    </div>
    <script nonce="<%= nonce %>">const csrfToken = "<%= csrfToken %>";</script>
    <script src="https://www.google.com/recaptcha/api.js" nonce="<%= nonce %>" async defer></script>
    <script src="/js/SignUp.js" nonce="<%= nonce %>"></script>

</body>
