<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="manifest" href="/js/manifest.json">


</head>

<body>
    <div id="unauthorizedAccess" class="custom-alert text-danger nodisplay">
        <h4>
            <%= __('unauthorized_access') %>
        </h4>
    </div>
    <div id="session-message" class="custom-alert nodisplay">
        <h4>
            <%= __('session_message') %>
        </h4>
    </div>

    <div tabindex="0" id="Services" class=" mt-2 text-white">
        <div class=" rounded ">
            <div id="servicesCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators ">
                    <button type="button " data-bs-target="#servicesCarousel" data-bs-slide-to="0" class="active btn "
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="1" aria-label="Slide 2 "
                        class="btn "></button>
                    <button type="button " data-bs-target="#servicesCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class="btn"></button>
                    <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="3" aria-label="Slide 4"
                        class="btn"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <div id="carousel" class=" row flex-nowrap  p-1 mr-1 ">
                            <div class="service-item col-md-4 p-2 ml-2 m-1">
                                <div class="rounded text-center ">
                                    <a class="text-light  " href="#Overall_Checkup">
                                        <img class="img rounded " src="/images/Overall_Checkup.png"
                                            alt="Overall checkup image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('overall_checkup_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2  m-1">
                                <div class="rounded text-center">
                                    <a class="text-light " href="#Car_Painting">
                                        <img class="img rounded " src="/images/Car_Painting.png"
                                            alt="Car painting image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('car_painting_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1">
                                <div class="rounded text-center">
                                    <a class="text-light " href="#Rust_Removal">
                                        <img class="img rounded " src="/images/Rust_Removal.webp"
                                            alt="Rust Removal image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('rust_removal_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1">
                                <div class="rounded text-center ">
                                    <a class="text-light  " href="#Tuning">
                                        <img class="img rounded " src="/images/Tuning.png" alt="Tuning image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('tuning_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1">
                                <div class="rounded text-center">
                                    <a class="text-light " href="#Custom_Part_Insertion">
                                        <img class="img rounded" src="/images/Custom_Part_Insertion.png"
                                            alt="Custom part insertion image">
                                        <h4 class="text-center position-absolute overlay-text">
                                            <%= __('custom_part_insertion_title') %>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item col-md-4 p-2 m-1" id="price_estimator_guest_title">
                                <div class="rounded text-center ">
                                    <a class="text-light ">
                                        <img class="img rounded " src="/images/Price_Calculation_Guest.webp"
                                            alt="Log in to access this function image">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carousel Controls -->
                <a class="carousel-control-prev" href="#servicesCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#servicesCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


    <div class="container text-white ">
        <div tabindex=0 class="  rounded m-2">
            <div class="row">
                <div class="col-md-12 ">
                    <h2 class="text-center">
                        Advantages of Choosing Us<br>
                    </h2>
                </div>
            </div>
            <div class="row text-white ml-5 p-2 ">
                <div class="col-md-6 text-left">
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <i class="fas fa-calendar-check fa-2x text-primary"></i>
                            <span class="ml-2"><b>Easy Appointments:</b> Book your service appointments online with
                                ease.<span id="LoginP"><a href="/Login">
                                        <%= __('login_prompt') %>
                                    </a>
                                    <%= __('booking_prompt') %>
                                </span></span>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-car fa-2x text-primary"></i>
                            <span class="ml-2"><b>Multiple vehicle repair:</b> We offer repairs for Hatchback, Sedan,
                                SUV, MUV, Coupe, Convertible, and Pickup Truck, we do it all.</span>
                        </li>


                    </ul>
                </div>
                <div class="col-md-6 text-left mb-1">
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <i class="fas fa-shield-alt fa-2x text-primary"></i>
                            <span class="ml-2"><b>Reliable Repairs:</b> We use high-quality parts and provide a warranty
                                on all repairs.</span>
                        </li>



                        <li class="mb-3">
                            <i class="fas fa-dollar-sign fa-2x text-primary"></i>
                            <span class="ml-2"><b>Fair Prices:</b> We have an online price estimator for transparancy,
                                so you can be certain to not get overcharged.</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="news-section mt-5">
        <h2 class="section-title">Latest News & Deals</h2>
        <div class="news-item">
            <div class="news-title">🚗 20% Off on Oil Changes This Month!</div>
            <hr class="bg-dark">
            <div class="news-details">
                Take advantage of our special offer and get 20% off all oil change services until the end of the month. Book now to secure your spot!
            </div>
        </div>
        <div class="news-item">
            <div class="news-title">📅 New Online Booking Feature!</div>
            <hr class="bg-dark">
            <div class="news-details">
                We’ve launched our new online booking system! You can now select available times from our calendar to schedule your car repairs. 
            </div>
        </div>
        <div class="news-item">
            <div class="news-title">🔧 New service location</div>
            <hr class="bg-dark">
            <div class="news-details">
                Check out our new location at Odre "Strautnieki" to get your car serviced by our expert team!
            </div>
        </div>
    </section>
    
    <br>
    <div class="container text-white mt-5 ">
        <div tabindex=0 class="bg-light p-4 rounded">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                        <%= __('work_hours_title') %><br>
                    </h2>
                    <p class="text-center">
                        <%= __('work_hours_text') %>
                    </p>
                </div>
            </div>
            <div class="row text-white">
                <div class="col-md-6 text-left">
                    <ul class="list-unstyled ">
                        <li><strong>
                                <%= __('monday') %>
                            </strong></li>
                        <li><strong>
                                <%= __('tuesday') %>
                            </strong></li>
                        <li><strong>
                                <%= __('wednesday') %>
                            </strong></li>
                        <li><strong>
                                <%= __('thursday') %>
                            </strong></li>
                    </ul>

                </div>
                <div class="col-md-6 text-left mb-4">
                    <ul class="list-unstyled">
                        <li><strong>
                                <%= __('friday') %>
                            </strong></li>
                        <li><strong class="text-red"><b>
                                    <%= __('saturday') %>
                                </b></strong></li>
                        <li><strong class="text-red"><b>
                                    <%= __('sunday') %>
                                </b></strong></li>
                    </ul>
                </div>
            </div>
        </div>

        <h1 class="mt-5 text-center text-white">Frequently Asked Questions</h1>
        <div class="faq-container mt-3">
            <div class="faq-item">
                <p class="faq-question">What is this system for?<span class="arrow">&#9660;</span></p>
                <div class="divider nodisplay"></div>
                <p class="faq-answer">The Car Repair Shop System is designed to manage repair shop operations, making
                    processes more efficient for both employees and customers. It includes user registration, scheduling
                    repairs, sending reminders, and more.</p>
            </div>
            <div class="faq-item">
                <p class="faq-question">What features are available to registered users?<span class="arrow">&#9660;</span></p>
                <div class="divider nodisplay"></div>
                <p class="faq-answer">Registered users have access to exclusive features such as a price calculator, a
                    calendar for scheduling repairs, reminders for maintenance and discounts, and the ability to view active
                    repairs.</p>
            </div>
            <div class="faq-item">
                <p class="faq-question">How can I schedule a repair?<span class="arrow">&#9660;</span></p>
                <div class="divider nodisplay"></div>
                <p class="faq-answer">Customers can select available time slots from the calendar to schedule their car
                    repairs. These slots are visible to registered users through the system.</p>
            </div>
            <div class="faq-item">
                <p class="faq-question">What features are available for employees?<span class="arrow">&#9660;</span></p>
                <div class="divider nodisplay"></div>
                <p class="faq-answer">Employees can use the system to organize and track repair tasks, ensuring efficient
                    workflow and better customer service.</p>
            </div>
            <div class="faq-item">
                <p class="faq-question">What administrative tools are available?<span class="arrow">&#9660;</span></p>
                <div class="divider nodisplay"></div>
                <p class="faq-answer">Administrators can manage the system by adding, editing, or deleting data as needed.
                    This includes managing user accounts, repairs, and schedules.</p>
            </div>
            <div class="faq-item">
                <p class="faq-question">How does this system save time?<span class="arrow">&#9660;</span></p>
                <div class="divider nodisplay"></div>
                <p class="faq-answer">The system streamlines processes such as scheduling, reminders, and task management,
                    reducing manual work for employees and providing transparency for customers.</p>
            </div>
            <div class="faq-item">
                <p class="faq-question">Can I receive notifications for repairs or discounts?<span class="arrow">&#9660;</span></p>
                <div class="divider nodisplay"></div>
                <p class="faq-answer">Yes, registered users will receive reminders about scheduled repairs, oil changes, and
                    notifications about special deals or discounts.</p>
            </div>
        </div>

        <!-- Additional Content Section 
        <div tabindex=0 class="bg-light p-4 mt-5 rounded minW250px">
            <h2 class="text-center ">
                <%= __('appointment_booking') %>
            </h2>
            <p class="text-center">
                <%= __('booking_description') %> <span id="LoginP"><a href="/Login">
                            <%= __('login_prompt') %>
                        </a>
                        <%= __('booking_prompt') %>
                    </span>
                    <span id="BookingP" class="nodisplay"><a href="/Appointments">
                            <%= __('Make Appointment') %>
                        </a></span>
            </p>
        </div>
        -->
    </div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- Services 
    <main tabindex=0 role="main" class="container mt-5 text-light fade-in-hidden">
        
        <section id="Overall_Checkup">
            <div class="text-center ">
                <h1>
                    <%= __('overall_checkup_title') %>
                </h1>
            </div>
            <div class="paragraph mt-4 fade-in-hidden">
                <p class="lead">
                    <%= __('service_description_checkup') %><br>
                        <br>1. <b>
                            <%= __('checkup_engine') %>
                        </b><br>
                        2. <b>
                            <%= __('checkup_safety') %>
                        </b><br>
                        3. <b>
                            <%= __('checkup_tires') %>
                        </b><br>
                        4. <b>
                            <%= __('checkup_fluid_management') %>
                        </b><br>
                        5. <b>
                            <%= __('checkup_expertise') %>
                        </b><br>
                </p>
                <h2 class="mt-4 fade-in-hidden"><br><b>
                        <%= __('why_choose_checkup') %>
                    </b><br> </h2>
                <ul class="fade-in-hidden">

                    <li><b>
                            <%= __('checkup_expertise') %>
                        </b><br></li>
                    <li><b>
                            <%= __('checkup_safety') %>
                        </b><br></li>
                    <li><b>
                            <%= __('checkup_engine') %>
                        </b><br></li>
                    <li><b>
                            <%= __('checkup_tires') %>
                        </b><br></li>
                    <li><b>
                            <%= __('checkup_fluid_management') %>
                        </b><br></li>
                </ul>
            </div>
            </div>
        </section>
    </main>
    </div>
    </div>

    <main tabindex=0 role="main" class="container mt-5 text-light fade-in-hidden">
        <section id="Car_Painting">
            <div class="text-center mt-5 ">
                <h1>
                    <%= __('car_painting_title') %>
                </h1>
            </div>
            <div class="paragraph mt-4 fade-in-hidden ">
                <p class="lead">
                    <%= __('service_description_painting') %>
                </p>

                <h2 class="mt-4 fade-in-hidden">
                    <%= __('why_choose_painting') %>
                </h2>

                <ul class="fade-in-hidden">
                    <li><b>
                            <%= __('painting_quality_materials') %>
                        </b></li>
                    <li><b>
                            <%= __('painting_skilled_painters') %>
                        </b></li>
                    <li><b>
                            <%= __('painting_customization_options') %>
                        </b></li>
                    <li><b>
                            <%= __('painting_restoration_repairs') %>
                        </b></li>
                    <li><b>
                            <%= __('painting_protective_coatings') %>
                        </b></li>
                </ul>
            </div>
        </section>
    </main>

    <main tabindex=0 role="main" class="container mt-5 text-light fade-in-hidden">
        <section id="Rust_Removal">
            <div class="text-center mt-5">
                <h1>
                    <%= __('rust_removal_title') %>
                </h1>
            </div>
            <div class="paragraph mt-4 fade-in-hidden">
                <p class="lead">
                    <%= __('service_description_rust_removal') %>
                </p>

                <h2 class="mt-4 fade-in-hidden">
                    <%= __('why_choose_rust_removal') %>
                </h2>

                <ul class="fade-in-hidden">
                    <li><b>
                            <%= __('general_info') %>
                        </b></li>
                    <li><b>
                            <%= __('car_repair_description') %>
                        </b></li>
                    <li><b>
                            <%= __('pricing_description') %>
                        </b></li>
                    <li><b>
                            <%= __('visit_us') %>
                        </b></li>
                    <li><b>
                            <%= __('address_label') %>
                        </b></li>
                </ul>
            </div>
        </section>
    </main>

    <main tabindex=0 role="main" class="container mt-5 text-light fade-in-hidden">
        <section id="Tuning">
            <div class="text-center mt-5 ">
                <h1>
                    <%= __('tuning_title') %>
                </h1>
            </div>
            <div class="paragraph mt-4">
                <p class="lead fade-in-hidden">
                    <%= __('service_description_tuning') %>
                </p>

                <h2 class="mt-4 fade-in-hidden">
                    <%= __('why_choose_checkup') %>
                </h2>

                <ul class="fade-in-hidden">
                    <li><b>
                            <%= __('checkup_expertise') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_safety') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_engine') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_tires') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_fluid_management') %>
                        </b></li>
                </ul>
            </div>
        </section>
    </main>

    <main tabindex=0 role="main" class="container mt-5 text-light fade-in-hidden mb-4">
        <section id="Custom_Part_Insertion">
            <div class="text-center mt-5">
                <h1>
                    <%= __('custom_part_insertion_title') %>
                </h1>
            </div>
            <div class="paragraph mt-4 fade-in-hidden">
                <p class="lead">
                    <%= __('service_description_custom_insertion') %>
                </p>

                <h2 class="mt-4 fade-in-hidden">
                    <%= __('why_choose_checkup') %>
                </h2>

                <ul class="fade-in-hidden">
                    <li><b>
                            <%= __('checkup_expertise') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_safety') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_engine') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_tires') %>
                        </b></li>
                    <li><b>
                            <%= __('checkup_fluid_management') %>
                        </b></li>
                </ul>
            </div>
        </section>
    </main>
 -->
    <div class="footer mt-5">
        <div class="container">
            <p>&copy; 2023 Car Repair Shop - Odre, LV-3285</p>
            <p class="mb-2">
                <%= __('contact_us') %>: velderis@gmail.com or <%= __('call_us') %>
            </p>

            <!-- Language Switcher Links in Footer -->
            <div class="language-switcher-footer">
                <a href="/?lang=en" class="footer-link"><span class="flag-icon flag-icon-gb"></span> English</a> |
                <a href="/?lang=lv" class="footer-link"><span class="flag-icon flag-icon-lv"></span> Latviešu valoda</a>
                |
                <a href="/?lang=ru" class="footer-link"><span class="flag-icon flag-icon-ru"></span> Русский язык</a> |
                <a href="/?lang=de" class="footer-link"><span class="flag-icon flag-icon-de"></span> Deutsche
                    Sprache</a>
            </div>
        </div>
    </div>

    <script src="/js/home.js" nonce="<%= nonce %>"></script>
</body>

</html>